<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEMINNOVACION</title>
</head>
<body>
  <h1 class="title">Find GitHub User</h1>
  <div>{{searchedUsers}}</div>
  <div class="input-container">
    <input type="text" name="username" placeholder="Username" [(ngModel)]="username">
    <div class="icons">
      <span><i class="fa-brands fa-github"></i></span>
      <span><button (click)="getAUser()"><i class="fa-solid fa-magnifying-glass"></i></button></span>
    </div>
  </div>
  <app-user-details [githubDetails]="userGit"></app-user-details>
</body>
</html>
