/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@font-face {
  font-family: myFont1;
  src: url(./assets/webfonts/fa-v4compatibility.woff2 );
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

